@model WebUI.Models.ContatoViewModel

<form asp-action="Update">
    <input asp-for="Id" hidden>
    <div class="form-group">
        <label asp-for="Nome">@Html.DisplayNameFor(model => model.Nome)</label>
        <input asp-for="Nome" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="SobreNome">@Html.DisplayNameFor(model => model.SobreNome)</label>
        <input asp-for="SobreNome" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Email">@Html.DisplayNameFor(model => model.Email)</label>
        <input asp-for="Email" class="form-control"/>
    </div>
    <input type="submit" class="btn btn-primary"/>
</form>
<a asp-controller="Contato" asp-action="Delete" asp-route-id="@Model.Id">Excluir</a>